<section id="proyectos_destacados" class="proyectos-section">
    <h1>Proyectos destacados</h1>
    <h2>Proyecto 1</h2>
    imagen
    <h2>Proyecto 2</h2>
    imagen
    <a href="/proyectos" class="btn btn-primary">Ver todos los proyectos</a>

    <h2>Marcas que manejamos</h2>
    <div class="brands-container">
        <div class="brand" data-aos="fade-up" data-aos-delay="100">
            <img src="_" alt="Siemens">
        </div>
        <div class="brand" data-aos="fade-up" data-aos-delay="500">
            <img src="_" alt="Honeywell">
        </div>
        <div class="brand" data-aos="fade-up" data-aos-delay="100">
            <img src="_" alt="Allen Bradley">
        </div>
        <div class="brand" data-aos="fade-up" data-aos-delay="200">
            <img src="_" alt="Rockwell Automation">
        </div>
        <div class="brand" data-aos="fade-up" data-aos-delay="300">
            <img src="" alt="SEL">
        </div>
        <div class="brand" data-aos="fade-up" data-aos-delay="400">
            <img src="" alt="Festo">
        </div>
        <div class="brand" data-aos="fade-up" data-aos-delay="400">
            <img src="" alt="SMC">
        </div>
        <div class="brand" data-aos="fade-up" data-aos-delay="400">
            <img src="" alt="Parker">
        </div>
        <div class="brand" data-aos="fade-up" data-aos-delay="400">
            <img src="" alt="Norgren">
        </div>
        <div class="brand" data-aos="fade-up" data-aos-delay="400">
            <img src="" alt="Endress+Hauser">
        </div>
        <div class="brand" data-aos="fade-up" data-aos-delay="400">
            <img src="" alt="Emerson">
        </div>

    </div>
</section>