<section class="industrial-section">



    <div class="industrial-container">
        <header class="industrial-header">
            <h1>NUESTROS <span>PROYECTOS</span></h1>
            <p>Soluciones industriales de alto impacto con calidad y precisión</p>
        </header>

        <div class="projects-showcase">

            <!-- Proyecto 1 - Cervecera -->
            <div class="project-item">

                <div class="project-image">
                    <img src="proyectos/owens_corning/Subestacion.png" alt="Planta Cervecera">
                    <div class="project-industry">Cervecera</div>
                </div>

                <div class="project-content">
                    <h3 class="project-name">Filtración para cervecería del Pacífico</h3>
                    <h4 class="company-name">M & L Consulting Gmbh</h4>

                    <div class="project-detail">
                        <h4>Reto</h4>
                        <p>Automatización completa del proceso de fermentación para quintuplicar la producción
                            manteniendo calidad artesanal.</p>
                    </div>

                    <div class="project-detail">
                        <h4>Solución</h4>
                        <p>Instalación de:
                            Control.
                            Instrumentación.
                            Eléctrica.
                            Neumática.
                            Comunicaciones para los equipos:
                            PVPP.
                            KG- filter.
                            Cooler Alfa Laval.
                            CIP PVPP.
                            Beer cooler salida.
                            Incluyen lo siguiente:
                            Motores.
                            Drives.
                            Arrancadores.
                            Sensores.
                            Transmisores.
                            Válvulas.
                            Actuadores neumáticos.
                            Comunicaciones con fibra óptica.
                            Analizadores de oxígeno disuelto.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Proyecto 2 - Cervecera -->
            <div class="project-item">

                <div class="project-image">
                    <img src="proyectos/owens_corning/Subestacion.png" alt="Planta Cervecera">
                    <div class="project-industry">Automotriz</div>
                </div>

                <div class="project-content">
                    <h3 class="project-name">Planta para generación de energía eléctrica y Co-Generación de vapor y agua
                        helada (URPRI)</h3>
                    <h4 class="company-name">Maquinaría IGSA, S.A. de C.V.</h4>

                    <div class="project-detail">
                        <h4>Reto</h4>
                        <p>Automatización completa del proceso de fermentación para quintuplicar la producción
                            manteniendo calidad artesanal.</p>
                    </div>

                    <div class="project-detail">
                        <h4>Solución</h4>
                        <p>Diseño del sistema para el aprovechamiento de los gases de escape de los turbo generadores de
                            5 MVA cada uno.
                            Especificación, suministro e instalación de los equipos:
                            Tableros e instrumentos de control del recuperador de calor VAPORPHASE.
                            Generador de agua helada CARRIER.
                            Puesta en servicio de los sistemas de co-generación.

                        </p>
                    </div>
                </div>
            </div>

            <!-- Proyecto 2 - Cervecera -->
            <div class="project-item">

                <div class="project-image">
                    <img src="proyectos/owens_corning/Subestacion.png" alt="Planta Cervecera">
                    <div class="project-industry">Automotriz</div>
                </div>

                <div class="project-content">
                    <h3 class="project-name">Planta de generación de energía eléctrica y co-generación de vapor y agua
                        caliente. (Industrias Cobitel y Bonanza)</h3>
                    <h4 class="company-name">Maquinaría IGSA, S.A. de C.V.</h4>

                    <div class="project-detail">
                        <h4>Reto</h4>
                        <p>Automatización completa del proceso de fermentación para quintuplicar la producción
                            manteniendo calidad artesanal.</p>
                    </div>

                    <div class="project-detail">
                        <h4>Solución</h4>
                        <p>Ingeniería eléctrica de potencia y control, mecánica, civil e instrumentación.
                            Cálculo de:
                            Válvulas.
                            Tuberías.
                            Accesorios para las tuberías de:
                            Gas natural.
                            Agua.
                            Vapor.
                            Gases residuales.
                            Suministro, instalación, configuración y programación de PLC compactlogix, HMI panelview.
                            Suministro e instalación de CCM, tablero de control, instrumentación de campo y válvulas de
                            control.
                            Diseño, fabricación e instalación de 2 válvulas para gases de 24” de 3 vías y 2 válvulas de
                            38” de 3 vías.
                            Puesta en servicio de los sistemas de co-generación.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Proyecto 2 - Cervecera -->
            <div class="project-item">

                <div class="project-image">
                    <img src="proyectos/owens_corning/Subestacion.png" alt="Planta Cervecera">
                    <div class="project-industry">Automotriz</div>
                </div>

                <div class="project-content">
                    <h3 class="project-name">Sistema eléctrico de fuerza y control de planta tratadora de aguas
                        residuales</h3>
                    <h4 class="company-name">General Motors</h4>

                    <div class="project-detail">
                        <h4>Reto</h4>
                        <p>Automatización completa del proceso de fermentación para quintuplicar la producción
                            manteniendo calidad artesanal.</p>
                    </div>

                    <div class="project-detail">
                        <h4>Solución</h4>
                        <p>Procuración e instalación de válvulas, equipo de control y medición, PLC y computadora
                            industrial IBM, CCM y alumbrado.
                            Instalaciones electromecánicas de potencia, control e instrumentación.
                            Fabricación del tablero de instrumentación y control.
                            Programación de PLC-5 Allen Bradley y HMI Rockwell Software.
                            Calibración de los instrumentos de campo, pruebas pre-operacionales y arranque.
                            Procesos de agua sanitaria, industrial, ultrafiltración, filtros vortex y de arena.
                            Capacitación.
                        </p>
                    </div>
                </div>
            </div>



            <!-- Proyecto 2 - Cervecera -->
            <div class="project-item">

                <div class="project-image">
                    <img src="proyectos/owens_corning/Subestacion.png" alt="Planta Cervecera">
                    <div class="project-industry">Automotriz</div>
                </div>

                <div class="project-content">
                    <h3 class="project-name">Sistemas eléctricos y de control de procesos nuevos en planta
                        San Juan del Río</h3>
                    <h4 class="company-name">Chevron Oronite / Aditivos Mexicanos S.A. de C.V.</h4>

                    <div class="project-detail">
                        <h4>Reto</h4>
                        <p>Automatización completa del proceso de fermentación para quintuplicar la producción
                            manteniendo calidad artesanal.</p>
                    </div>

                    <div class="project-detail">
                        <h4>Solución</h4>
                        <p>Ingeniería y montaje del sistema de aceite térmico.
                            Ingeniería para el control de todos los equipos de proceso y servicios.
                            Cálculo de tubería y válvulas.
                            Cálculo e instalación de la subestación.
                            Especificación y procuración de los CCM’s.
                            Diseño del sistema de control.
                            Cálculo y especificación de instrumentos.
                            Típicos de instalación.
                            Suministro e instalación de tableros de control.
                            3 reactores.
                            2 columnas de destilación.
                            Sistema de aceite térmico.
                            Incineración de gases.
                            Absorción de gases.
                            Granja de tanques.
                            Sistemas de aire comprimido y vapor.
                            Suministro y configuración del sistema de adquisición de datos y control de proceso con
                            capacidad instalada para 1000 Blocks.
                            Control de carga de materias primas con medidores de flujo másico y válvulas automáticas.
                            Control redundante con controladores de lazo.
                            Montaje e instalación del sistema de absorción.
                            Instalación de instrumentos de campo y del centro de control de instrumentos.
                            Asistencia técnica en el arranque de la planta.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Proyecto 2 - Cervecera -->
            <div class="project-item">

                <div class="project-image">
                    <img src="proyectos/owens_corning/Subestacion.png" alt="Planta Cervecera">
                    <div class="project-industry">Automotriz</div>
                </div>

                <div class="project-content">
                    <h3 class="project-name">Control de procesos redundante PCS7 siemens para hornos de cerámica, hornos
                        de vidriado y secadores Spray</h3>
                    <h4 class="company-name">Federal Mogul</h4>

                    <div class="project-detail">
                        <h4>Reto</h4>
                        <p>Automatización completa del proceso de fermentación para quintuplicar la producción
                            manteniendo calidad artesanal.</p>
                    </div>

                    <div class="project-detail">
                        <h4>Solución</h4>
                        <p>Elaboración de diagramas eléctricos de control.
                            Programación y configuración del sistema:
                            100 entradas digitales.
                            80 salidas digitales.
                            80 entradas analógicas.
                            20 salidas analógicas.
                            Suministro e instalación de un sistema de control distribuido marca SIEMENS, que incluye
                            procesador central AS414-4H redundante, interface PCS7.
                            Suministro e instalación de PC, Panel de Operador grado industrial y gabinete para la
                            computadora, teclado y monitor.
                            Desarrollo de 20 pantallas en PC principal (una para cada horno, una para cada secador, 9 de
                            tendencias gráficas, 1 de alarmas y una para el concentrado en una tabla con 90 variables).
                            Actualización de sistema de control Micromax de Leeds & Northrup a PCS7 de SIEMENS.
                        </p>
                    </div>
                </div>
            </div>


            <!-- Proyecto 2 - Cervecera -->
            <div class="project-item">

                <div class="project-image">
                    <img src="proyectos/owens_corning/Subestacion.png" alt="Planta Cervecera">
                    <div class="project-industry">Automotriz</div>
                </div>

                <div class="project-content">
                    <h3 class="project-name">Mantenimiento mayor a instrumentación del horno</h3>
                    <h4 class="company-name">SAINT-GOBAIN GLASS (Cuautla)</h4>

                    <div class="project-detail">
                        <h4>Reto</h4>
                        <p>Automatización completa del proceso de fermentación para quintuplicar la producción
                            manteniendo calidad artesanal.</p>
                    </div>

                    <div class="project-detail">
                        <h4>Solución</h4>
                        <p>Programación de los instrumentos a intervenir y horario, en estrecha coordinación con
                            terceros y cliente.
                            Ejecución de los trabajos con equipo y procedimientos normalizados de seguridad.
                            Incluyó lo siguiente:
                            22 transmisores de flujo.
                            15 válvulas de control de flujo.
                            4 transmisores de nivel.
                            24 transmisores de presión.
                            11 válvulas de control de presión.
                            2 válvulas de control de temperatura.
                            1 transmisor de viscosidad.
                            15 válvulas on/off.
                            El mantenimiento consistió en desmontar el instrumento, desconectar e identificar las
                            señales, diagnóstico, reparación, reinstalación en línea de proceso, reconexión de señales,
                            calibración con sus reportes, pruebas pre-operativas y asistencia técnica en el arranque.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Proyecto 2 - Cervecera -->
            <div class="project-item">

                <div class="project-image">
                    <img src="proyectos/owens_corning/Subestacion.png" alt="Planta Cervecera">
                    <div class="project-industry">Automotriz</div>
                </div>

                <div class="project-content">
                    <h3 class="project-name">Diseño y fabricación de una sala para proyección de video con efectos de
                        realismo (simulador Toluca)</h3>
                    <h4 class="company-name">Museo Modelo de Ciencias e Industria, A.C.</h4>

                    <div class="project-detail">
                        <h4>Reto</h4>
                        <p>Automatización completa del proceso de fermentación para quintuplicar la producción
                            manteniendo calidad artesanal.</p>
                    </div>

                    <div class="project-detail">
                        <h4>Solución</h4>
                        <p>Construcción de:
                            Chasis.
                            Acabados interiores.
                            Exteriores.
                            Sala de proyección con capacidad para 12 personas.
                            Puertas de acceso automatizadas.
                            Sistema de control de movimiento coordinado con el video proyectado.
                            Diseño y construcción de barandal perimetral y escaleras de acceso en acero inoxidable
                            decorativo y policarbonato.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Proyecto 2 - Cervecera -->
            <div class="project-item">

                <div class="project-image">
                    <img src="proyectos/owens_corning/Subestacion.png" alt="Planta Cervecera">
                    <div class="project-industry">Automotriz</div>
                </div>

                <div class="project-content">
                    <h3 class="project-name">Modernización y aumento de capacidad de la Subestación de 85/23 kV</h3>
                    <h4 class="company-name">Owens Corning, S.A. de C.V.</h4>

                    <div class="project-detail">
                        <h4>Reto</h4>
                        <p>Automatización completa del proceso de fermentación para quintuplicar la producción
                            manteniendo calidad artesanal.</p>
                    </div>

                    <div class="project-detail">
                        <h4>Solución</h4>
                        <p>Ingeniería para tablero PCyM (protección control y medición) para la bahía de alimentación de
                            85 kV, Arc Flash en 14 celdas de 23 kV.
                            Ingeniería en el tablero de servicios propios.
                            Procuración de PCyM marca SEL:
                            2 transformadores de 85-23 kV y 15 MVA.
                            2 resistencias de puesta a tierra.
                            Tablero de servicios propios.
                            2 cuchillas tripolares tipo V en 85 kV marca COMANEL.
                            3 transformadores de corriente para 85 kV marca SIEMENS.
                            9 aisladores de soporte para 138 kV.
                            Conectores varios y conductor tipo AAC para equipos de patio.
                            Cables multiconductores de control varios.
                            2 interruptores SF6 tripolares para 85 kV-1250 Amperes marca SIEMENS.
                            6 transformadores de corriente de 85 kV.
                            Conductor tipo XLP 25 kV.
                            Terminales pre-moldeadas para cable XLP.
                            6 transformadores de corriente para 23 kV marca ARTECHE.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Proyecto 2 - Cervecera -->
            <div class="project-item">

                <div class="project-image">
                    <img src="proyectos/owens_corning/Subestacion.png" alt="Planta Cervecera">
                    <div class="project-industry">Automotriz</div>
                </div>

                <div class="project-content">
                    <h3 class="project-name">Diseño e instalación del sistema de control y fuerza para las cuatro líneas
                        de producción de tubos de fibra de vidrio en el área de Pull Pipe</h3>
                    <h4 class="company-name">Owens Corning, S.A. de C.V.</h4>

                    <div class="project-detail">
                        <h4>Reto</h4>
                        <p>Automatización completa del proceso de fermentación para quintuplicar la producción
                            manteniendo calidad artesanal.</p>
                    </div>

                    <div class="project-detail">
                        <h4>Solución</h4>
                        <p>Ingeniería.
                            Procuración de los siguientes equipos:
                            72 Motores.
                            32 AC Drives.
                            8 servo-motores.
                            8 módulos de potencia para el control de resistencias de calentamiento.
                            2 PLC ControlLogix.
                            8 Módulos remotos Flex I/O.
                            4 sistemas de combustión.
                            Pruebas pre-operacionales, puesta en marcha y capacitación.

                        </p>
                    </div>
                </div>
            </div>

            <!-- Proyecto 2 - Cervecera -->
            <div class="project-item">

                <div class="project-image">
                    <img src="proyectos/owens_corning/Subestacion.png" alt="Planta Cervecera">
                    <div class="project-industry">Automotriz</div>
                </div>

                <div class="project-content">
                    <h3 class="project-name">Modernización de la línea 1 de aislamientos</h3>
                    <h4 class="company-name">Owens Corning, S.A. de C.V.</h4>

                    <div class="project-detail">
                        <h4>Reto</h4>
                        <p>Automatización completa del proceso de fermentación para quintuplicar la producción
                            manteniendo calidad artesanal.</p>
                    </div>

                    <div class="project-detail">
                        <h4>Solución</h4>
                        <p>Procuración suministro e Instalación de los siguientes equipos:
                            1 drive Power Flex 700 de 25 hp.
                            2 drives Power Flex 700 de 5 hp con reactor.
                            2 drive Power Flex 700 con módulo de freno regenerativo de 40 hp y reactor.
                            7 drive´sPower Flex 700 de 5 hp.
                            3 drive´s Power Flex de 7.5 hp.
                            1 PLC controlLogix con comunicación Controlnet.
                            1 módulo remoto Flex I/O.
                            Desmantelamiento parcial de la red de comunicaciones DH+ e instalación de la nueva red DH+.
                        </p>
                    </div>
                </div>
            </div>






        </div>
    </div>

</section>