<section class="services-section">
  <!-- Mitad izquierda con imagen de automatización industrial. -->
  <div class="services-half services-half-left">
    <img src="service2.png" alt="Imagen de Automatización Industrial" class="services-bg">
    <div class="services-overlay"></div>
    <div class="services-content" data-aos="fade-right" data-aos-delay="100">
      <h1>ALGUNOS DE NUESTROS SERVICIOS</h1>
      <p>Soluciones tecnológicas avanzadas para optimizar sus procesos industriales y aumentar la eficiencia operativa.</p>

      <div class="services-container">
        <div class="service-item" data-aos="fade-up" data-aos-delay="100">
          <i class="fas fa-project-diagram"></i>
          <h3>Ingeniería de Control</h3>
          <p>Diseño y desarrollo de sistemas de control industrial.</p>
          <i class="fas fa-search"></i>
          <h3>Ingeniería de detalle</h3>
          <p>Desarrollo de planos. Listados de materiales (BOM). Documentación técnica final.</p>
        </div>
        <div class="service-item" data-aos="fade-up" data-aos-delay="400">
          <i class="fas fa-tools"></i>
          <h3>Montajes Industriales</h3>
          <p>Instalación y puesta en marcha de equipos y sistemas.</p>
          <i class="fas fa-bolt"></i>
          <h3>Instalaciones Eléctricas de Baja Tensión</h3>
          <p>Cableado, canalización, protección.</p>
        </div>
        <div class="service-item" data-aos="fade-up" data-aos-delay="200">
          <i class="fas fa-key"></i>
          <h3>Proyectos llave en mano</h3>
          <p>Ingeniería, programación, puesta en marcha, capacitación y soporte</p>
          <i class="fas fa-network-wired"></i>
          <h3>Redes de comunicación industriales</h3>
          <p>Diseño e implementación de topologías.</p>
        </div>
        
        <div class="consulta-cta" data-aos="fade-up" data-aos-delay="700">
          <p>¿Necesitas un servicio específico? Contáctanos para una solución personalizada</p>
          <a routerLink="/servicios" class="btn btn-gradient">Ver todos los servicios</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Mitad derecha con proyectos -->
  <div class="services-half services-half-right">
    <div class="services-overlay"></div>
    <div class="services-content" data-aos="fade-left" data-aos-delay="100">
      <h1>ALGUNOS DE NUESTROS PROYECTOS</h1>
      <p>Infraestructura especializada para el sector industrial con los más altos estándares de calidad.</p>

      <div class="proyectos-container">
        <!-- Proyecto 1 -->
        <div class="proyecto-card" data-aos="fade-up" data-aos-delay="200">
          <div class="proyecto-info">
            <div class="cliente-logo">
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/89/Owens_Corning_logo.svg/1200px-Owens_Corning_logo.svg.png"
                   alt="Owens Corning">
            </div>
            <h2 class="proyecto-titulo">Aumento de producción de línea en un 30% adición de 4to fibrador</h2>
            <h2 class="proyecto-titulo">Modernización y ampliación de capacidad en la Subestación 85/23 kV</h2>
            <h2 class="proyecto-titulo">Sistema de control para líneas de producción de tubos</h2>
          </div>
          <div class="proyecto-imagen">
            <img src="proyectos/owens_corning/Subestacion.png"
                 alt="Automatización Industrial">
                 <img src="proyectos/owens_corning/Subestacion2.jpeg"
                 alt="Automatización Industrial">
          </div>
        </div>

        <!-- Proyecto 2 -->
        <div class="proyecto-card proyecto-card-invertido" data-aos="fade-up" data-aos-delay="300">
          <div class="proyecto-info">
            <div class="cliente-logos">
              <img src="https://imgs.search.brave.com/AcjkuzV6RORpEN1ReBBI4WHZuyJRwcdoNSdZHPbWu4E/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93d3cu/a2luZHBuZy5jb20v/cGljYy9tLzI4LTI4/MDM5OV9hYi1pbmJl/di1sb2dvLWdydXBv/LWFiLWluYmV2LWhk/LXBuZy5wbmc" alt="ABInBev">
              <img src="https://imgs.search.brave.com/qmT_tXpLAqeDvZzk7_KLsKWkZ7Fw4XjQKopZesDdbVY/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93d3cu/Z3J1cG9tb2RlbG8u/Y29tL3NpdGVzL2cv/ZmlsZXMvc2V1b3lr/NTE2L2ZpbGVzLzIw/MjItMDgvbG9nb19n/cnVwb19tb2RlbG8u/cG5n" alt="Grupo Modelo">
            </div>
            <h2 class="proyecto-titulo">Dosificación de químicos a envasado de la cervecería Model en Apan</h2>
            <h2 class="proyecto-titulo">Filtraciòn para cervecería del Pacífico</h2>
            <a routerLink="/proyectos" class="btn btn-primary">Ver todos los proyectos</a>
          </div>
          <div class="proyecto-imagen">
            <img src="proyectos/Envasado.jpg"
                 alt="Control de Procesos">
                 <img src="proyectos/PJA.jpg"
                 alt="Control de Procesos">
                 
          </div>
        </div>
      </div>

      
    </div>
  </div>
</section>