<header>
    <div class="logo-container">
        <img src="logo.svg" alt="Logo de la empresa" class="logo" />
        <!--<img src="PLANAUTOMATION.svg" alt="Nombre de la empresa" class="logo-text-vector" />--> 
       <h2 class="logo-text"><span>PLAN</span> AUTOMATION</h2>
    </div>

    <!-- Botón Hamburguesa -->
    <button class="hamburger-btn" (click)="toggleMenu()" [class.active]="isMenuOpen" aria-label="Menú">
        <span></span>
        <span></span>
        <span></span>
    </button>

    <nav class="nav-primary" [class.active]="isMenuOpen">
        <a routerLink="/" class="nav-link" (click)="closeMenu()">Inicio</a>
        <a routerLink="/servicios" class="nav-link" (click)="closeMenu()">Servicios</a>
        <a routerLink="/proyectos" class="nav-link" (click)="closeMenu()">Proyectos</a>
        <a routerLink="/nosotros" class="nav-link" (click)="closeMenu()">Nosotros</a>
        <a routerLink="/contacto" class="btn-cta" (click)="closeMenu()">
            <span>CONTACTO |</span>
            <div class="cta-angle"></div>
            <div class="cta-pulse"></div>
        </a>
    </nav>

    <!-- Overlay para cerrar el menú -->
    <div class="menu-overlay" [class.active]="isMenuOpen" (click)="closeMenu()"></div>
</header>